
body,html{
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 0px;
    background-color: rgb(164, 165, 164);
    margin: 0px 0px 0px 0px;
    
}
/* clamp(min,like,max)
 @media(min-width: 40em){
  :root {
    --fs-600: 3rem;
  }
 }*/
 :root {
  --fs-xl:clamp(0.2rem, 3vw + 0.5rem, 8rem);
  --fs-600: clamp(0.2rem, 1.5vw + 0.5rem, 3rem);
  --fs-500: 1.5rem;
  --fs-400: 1rem;

  --color-1: rgb(0, 0, 0);
  --color-2: rgb(82, 5, 123);
  --color-3: rgb(137, 44, 220);
  --color-4: rgb(188, 111, 241);
}

@media (max-width: 80em) {
  /* For extra-large-sized screens */
  :root {
    --fs-xl: clamp(0.2rem, 4vw + 0.5rem, 10rem);
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (max-width: 60em) {
  /* For large-sized screens */
  :root {
    --fs-xl: 2rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.75rem;
  }
}

@media (max-width: 40em) {
  /* For medium-sized screens */
  :root {
    --fs-xl: clamp(0.2rem, 4vw + 0.25rem, 2rem);
    --fs-600: clamp(0.5rem, 2vw + 0.25rem, 1rem);
    --fs-500: 0.5rem;
    --fs-400: 0.25rem;
  }
}

@media (max-width: 20em) {
  /* For small-sized screens */
  :root {
    --fs-xl: 0.75rem;
    --fs-600: 0.5rem;
    --fs-500: 0.3rem;
    --fs-400: 0.25rem;
  }
}


/* The rest of your CSS remains unchanged */





a {
  text-decoration: none;
}
.header-grid{
    
    display: flex;
    flex-direction: row;
    border: solid 2px var(--color-4);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--color-1);
    transition: transform 0.3s ease;
}



.logo{
  background: none;
  font-size: var(--fs-600);
  flex: 1;
  text-align: center;
  
}
.logo a{
  color: var(--color-2);
  
}

.code-link{
  background: none;
  height: 50%;
  flex: 1;
  margin-left: var(--fs-400);
  margin-right: var(--fs-400);
}

.github-mark{
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title{
  color: white;
  flex: 4;
  font-size: var(--fs-xl);  

}

.navigator{
  flex: 1;


}

.navigator-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: var(--fs-600);

  
 
}

.simulation{
 
  flex: 1;
 font-size: var(--fs-600);
 margin-right: var(--fs-500);
 
}
.simulation a{
  color: var(--color-2);
}
.explanation{
  flex: 1;
  font-size: var(--fs-600);
  margin-right: var(--fs-500);
}

.explanation a{
  color: var(--color-2);
}

